<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Info - Aula de Flexbox</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="header">
    <div class="logo">LOGO</div>
    <h1 class="title">Tech-Info distribuidora de produtos de informática</h1>
    <div class="cart">
      🛒
    </div>
  </header>

  <nav class="navbar">
    <div class="nav-links">
      <div class="nav-item"></div>
      <div class="nav-item"></div>
      <div class="nav-item"></div>
      <div class="nav-item"></div>
    </div>
    <div class="nav-right-item"></div>
  </nav>

  <section class="carousel-section">
    <div class="arrow">◀</div>
    <div class="carousel-banner">
      <h2>Carrossel de imagens</h2>
    </div>
    <div class="arrow">▶</div>
  </section>

  <main class="products-container">

    <article class="card">
      <div class="card-image"></div>
      <p class="card-desc">Descrição do card</p>
      <button class="btn btn-cart">Adicionar ao carrinho</button>
      <button class="btn btn-buy">Comprar</button>
    </article>

    <article class="card">
      <div class="card-image"></div>
      <p class="card-desc">Descrição do card</p>
      <button class="btn btn-cart">Adicionar ao carrinho</button>
      <button class="btn btn-buy">Comprar</button>
    </article>

    <article class="card">
      <div class="card-image"></div>
      <p class="card-desc">Descrição do card</p>
      <button class="btn btn-cart">Adicionar ao carrinho</button>
      <button class="btn btn-buy">Comprar</button>
    </article>

    <article class="card">
      <div class="card-image"></div>
      <p class="card-desc">Descrição do card</p>
      <button class="btn btn-cart">Adicionar ao carrinho</button>
      <button class="btn btn-buy">Comprar</button>
    </article>

    <article class="card">
      <div class="card-image"></div>
      <p class="card-desc">Descrição do card</p>
      <button class="btn btn-cart">Adicionar ao carrinho</button>
      <button class="btn btn-buy">Comprar</button>
    </article>

  </main>

  <footer class="footer">
    <p>&copy; Todos os direitos reservados 2026</p>
  </footer>

</body>

</html>